{% extends 'layout.twig' %}

{% block body %}
<row centered>
    <column cols="6">
        <form method="post" action="" class="forms">
            <section>
                <label for="category-name">Name</label>
                <input id="category-name" type="text" name="name" class="width-6" />
            </section>
            <section>
                <button type="submit">Save</button>
            </section>
        </form>

        <table>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </column>
</row>
{% endblock %}
