<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    #parse("_header.vm")
</head>
<body>

<row centered>
    <column cols="6">
        <form method="post" action="" class="forms">
            <section>
                <label>Name</label>
                <input type="text" name="name" class="width-6" />
            </section>
            <section>
                <button type="submit">Save</button>
            </section>
        </form>

        <table>
            <tbody>
                #foreach($category in $categories)
                <tr>
                    <td>$category.name</td>
                </tr>
                #end
            </tbody>
        </table>
    </column>
</row>



</body>
</html>
