<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    #parse("_header.vm")
</head>
<body>

<row centered>
    <column cols="6">
        <blocks cols="3">
            #foreach($product in $products)
                <div>
                    <a href="/products/$product.id" class="truncate thin -product-name">$product.name</a>
                    #if (!$product.images.isEmpty())
                        <img src="$product.images.get(0)" alt="img"/>
                    #end

                    <mark>$product.price &euro;</mark>
                </div>
            #end
        </blocks>
    </column>
</row>



</body>
</html>
